body{
	background: beige;
}

/* main menu
-------------------------------------------------- */

.rectangle1{
	height: 20px;
	width: 1710px;
	background-color: #A8BFB0;
	position: absolute;
	top: 360px;
}

.rectangle2{
	height: 45px;
	width: 1710px;
	background-color: #A8BFB0;
	position: absolute;
	top: 400px;
}

.container-2{
	position: absolute;
	padding: 115px 0px 0px 1200px;
}

.container-3{
	position: absolute;
	padding: 115px 0px 0px 540px;
}

.container-4{
	position: absolute;
	padding: 115px 0px 0px 0px;
}

.container-5{
	position: absolute;
	padding: 600px 0px 0px 1200px;
}

.container-6{
	position: absolute;
	padding: 1070px 0px 0px 0px;
}

.container-7{
	position: absolute;
	padding: 800px 0px 0px 540px;
}

/* citrus
-------------------------------------------------- */

.combo-1 img{
	position: absolute;
	left: 100px;
	width: auto;
	height: 1000px;
	top: 100px;
}

.orange-1 img{
	position: absolute;
	left: 400px;
	width: auto;
	height: 1100px;
}

.orange-2 img{
	position: absolute;
	left: 200px;
	width: 300px;
	height: auto;
	top: 370px;
	transition: 2s;
}

.orange-2 img:hover{
	position: absolute;
	left: 200px;
	top: 20px;
	transform: rotate(90deg);
}

.orange-3 img{
	position: absolute;
	left: 200px;
	width: 300px;
	height: auto;
	top: 1400px;
	transition: 2s;
}

.orange-3 img:hover{
	position: absolute;
	left: 1400px;
	transform: rotate(330deg);
}

.orange-4 img{
	position: absolute;
	left: 600px;
	width: 700px;
	height: auto;
	top: 1100px;
}

.lemon-1 img{
	position: absolute;
	right: 200px;
	width: auto;
	height: 900px;
}

.lemon-2 img{
	position: absolute;
	right: 200px;
	width: auto;
	height: 300px;
	transition: 1s;
}

.lemon-2 img:hover{
	position: absolute;
	height: 400px;
	width: auto;
	transform: rotate(180deg);
}

.lemon-3 img{
	position: absolute;
	right: 420px;
	top: 450px;
	width: auto;
	height: 300px;
	transition: 1s;
}

.lemon-3 img:hover{
	position: absolute;
	transform: rotate(180deg);
	transition: 1s;
}

.lime-1 img{
	position: absolute;
	width: auto;
	height: 340px;
	top: 900px;
	right: 450px;
	transition: 2s;
}

.lime-1 img:hover{
	position: absolute;
	top: 1450px;
	transform: rotate(270deg);
}

.lime-3 img{
	position: absolute;
	width: auto;
	height: 200px;
}

.lime-4 img{
	position: absolute;
	width: auto;
	height: 1000px;
	right: 100px;
	top: 700px;
}

.lime-5 img{
	position: absolute;
	width: auto;
	height: 880px;
	left: 100px;
	top: 800px;
}

.lime-6 img{
	position: absolute;
	width: auto;
	height: 880px;
	right: 20px;
	top: 300px;
}

#citrus-chara{
	display: none;
	
}

#citrus-chara:target{
	display: block;
}

#citrus-chara img{
	position: absolute;
	width: 280px;
	height: auto;
	left: 310px;
	top: 400px;
}

/* carton
-------------------------------------------------- */

.banner-3 img{
	width: 1710px;
	height: auto;
}

.banner-4 img{
	position: absolute;
	width: 1200px;
	height: auto;
	right: 10px;
	top: 1520px;
}

.home img{
	position: absolute;
	width: 500px;
	height: auto;
	top: 1500px;
}

.carton-1 img{
	width: 500px;
	height: auto;
	position: absolute;
	top: 500px;
}

.butter{
	display:none;
}

.butter img{
	width: 330px;
	height: auto;
	position: absolute;
	top: 490px;
}

.carton-1:hover + .butter{
	display: block;
}


.carton-2 img{
	width: 500px;
	height: auto;
	position: absolute;
	top: 500px;
	left: 600px;
}

.cherry{
	display:none;
}

.cherry img{
	width: 300px;
	height: auto;
	position: absolute;
	top: 500px;
	left: 600px;
}

.carton-2:hover + .cherry{
	display: block;
	
}

.carton-3 img{
	width: 500px;
	height: auto;
	position: absolute;
	top: 500px;
	left: 1200px;
}

.choco{
	display:none;
}

.choco img{
	width: 300px;
	height: auto;
	position: absolute;
	top: 500px;
	left: 1200px;
}

.carton-3:hover + .choco{
	display: block;
}


.carton-4 img{
	width: 500px;
	height: auto;
	position: absolute;
	top: 1000px;
}

.rainbow{
	display:none;
}

.rainbow img{
	width: 350px;
	height: auto;
	position: absolute;
	top: 1000px;
}

.carton-4:hover + .rainbow{
	display: block;
}

.carton-5 img{
	width: 500px;
	height: auto;
	position: absolute;
	top: 1000px;
	left: 600px;
}

.peach{
	display:none;
}

.peach img{
	width: 300px;
	height: auto;
	position: absolute;
	top: 1000px;
	left: 600px;
}

.carton-5:hover + .peach{
	display: block;
}

.carton-6 img{
	width: 500px;
	height: auto;
	position: absolute;
	top: 1000px;
	left: 1200px;
}

.pineapple{
	display:none;
}

.pineapple img{
	width: 230px;
	height: auto;
	position: absolute;
	top: 960px;
	left: 1230px;
}

.carton-6:hover + .pineapple{
	display: block;
}

.carton-chara1 img{
	width: 220px;
	height: auto;
	position: absolute;
	top: 400px;
	left: 400px;
}

.carton-chara2 img{
	width: 270px;
	height: auto;
	position: absolute;
	top: 900px;
	right: 480px;
}