body{
	background-color: beige;
}

/* main menu
-------------------------------------------------- */

.rectangle1{
	text-align: center;
	position: absolute;
	height: 10px;
	width: 1800x;
	background-color: #A8BFB0;
	top: 360px;
	margin-left: 30px;
}

.rectangle2{
	text-align: center;
	position: absolute;
	height: 25px;
	width: 1800px;
	background-color: #A8BFB0;
	top: 400px;
	margin-left: 30px;
}

.container-1{
	margin-left: 50px;
}


.container-4{
	position: absolute;
	left: 25px;
	top: 450px;
	margin-left: 30px;
}

.container-3{
	position: absolute;
	left: 550px;
	top: 450px;
	margin-left: 30px;
}

.container-2{
	position: absolute;
	left: 1200px;
	top: 450px;
	margin-left: 30px;
	
}

.container-10{
	position: absolute;
	left: 1140px;
	top: 900px;
	margin-left: 30px;
}

.container-12{
	position: absolute;
	left: 25px;
	top: 1390px;
	margin-left: 30px;
}

.container-11{
	position: absolute;
	left: 250px;
	top: 1400px;
	margin-left: 30px;
}

.container-7{
	position: absolute;
	left: 550px;
	top: 1150px;
	margin-left: 30px;
}



.container-6{
	position: absolute;
	left: 25px;
	top: 2000px;
	margin-left: 30px;
}

.container-5{
	position: absolute;
	left: 1210px;
	top: 1050px;
	margin-left: 30px;
}

.container-8{
	position: absolute;
	left: 550px;
	top: 1700px;
	margin-left: 30px;
}

.container-13{
	position: absolute;
	left: 550px;
	top: 2050px;
	margin-left: 30px;

}

.container-9{
	position: absolute;
	left: 1160px;
	top: 2010px;
	margin-left: 30px;
}




/*hover
-------------------------------------------------- */

.container-2:hover img, .container-2:focus img{
	transform: scale(1.15,1.15);
}

.container-3:hover img, .container-3:focus img{
	transform: scale(1.09,1.09);
}

.container-4:hover img, .container-4:focus img{
	transform: scale(1.15,1.15);
}

.container-5:hover img, .container-5:focus img{
	transform: scale(1.09,1.09);
}

.container-6:hover img, .container-6:focus img{
	transform: scale(1.15,1.15);
}

.container-7:hover img, .container-7:focus img{
	transform: scale(1.15,1.15);
}

.container-8:hover img, .container-8:focus img{
	transform: scale(1.1,1.1);
}

.container-9:hover img, .container-9:focus img{
	transform: scale(1.1,1.1);
}

.container-10:hover img, .container-10:focus img{
	transform: scale(1.1,1.1);
}

.container-11:hover img, .container-11:focus img{
	transform: scale(1.1,1.1);
}

.container-12:hover img, .container-12:focus img{
	transform: scale(1.1,1.1);
}

.container-13:hover img, .container-13:focus img{
	transform: scale(1.1,1.1);

}
/* citrus
-------------------------------------------------- */

.combo-1 img{
	position: absolute;
	left: 100px;
	width: auto;
	height: 1000px;
	top: 100px;
}

.orange-1 img{
	position: absolute;
	left: 400px;
	width: auto;
	height: 1100px;
}

.orange-2 img{
	position: absolute;
	left: 200px;
	width: 300px;
	height: auto;
	top: 370px;
	transition: 2s;
}

.orange-2 img:hover{
	position: absolute;
	left: 200px;
	top: 20px;
	transform: rotate(90deg);
}

.orange-3 img{
	position: absolute;
	left: 200px;
	width: 300px;
	height: auto;
	top: 1400px;
	transition: 2s;
}

.orange-3 img:hover{
	position: absolute;
	left: 1400px;
	transform: rotate(330deg);
}

.orange-4 img{
	position: absolute;
	left: 600px;
	width: 700px;
	height: auto;
	top: 1100px;
}

.lemon-1 img{
	position: absolute;
	right: 200px;
	width: auto;
	height: 900px;
}

.lemon-2 img{
	position: absolute;
	right: 200px;
	width: auto;
	height: 300px;
	transition: 1s;
}

.lemon-2 img:hover{
	position: absolute;
	height: 400px;
	width: auto;
	transform: rotate(180deg);
}

.lemon-3 img{
	position: absolute;
	right: 420px;
	top: 450px;
	width: auto;
	height: 300px;
	transition: 1s;
}

.lemon-3 img:hover{
	position: absolute;
	transform: rotate(180deg);
	transition: 1s;
}

.lime-1 img{
	position: absolute;
	width: auto;
	height: 340px;
	top: 900px;
	right: 450px;
	transition: 2s;
}

.lime-1 img:hover{
	position: absolute;
	top: 1450px;
	transform: rotate(270deg);
}

.lime-3 img{
	position: absolute;
	width: auto;
	height: 200px;
}

.lime-4 img{
	position: absolute;
	width: auto;
	height: 1000px;
	right: 100px;
	top: 700px;
}

.lime-5 img{
	position: absolute;
	width: auto;
	height: 880px;
	left: 100px;
	top: 800px;
}

.lime-6 img{
	position: absolute;
	width: auto;
	height: 880px;
	right: 20px;
	top: 300px;
}

#citrus-chara{
	display: none;
	
}

#citrus-chara:target{
	display: block;
}

#citrus-chara img{
	position: absolute;
	width: 280px;
	height: auto;
	left: 310px;
	top: 400px;
	animation: cic1 1.2s ease infinite forwards normal running;
}

@keyframes cic1{
	0%
	15% {transform: translateX(-30px) rotate(-6deg);}
    30% {transform: translateX(15px) rotate(6deg);}
    45% {transform: translateX(-15px) rotate(-3.6deg);}
    60% {transform: translateX(9px) rotate(2.4deg);}
    75% {transform: translateX(-6px) rotate(-1.2deg);}
    100% {transform: translateX(0px);}
 
}

/* carton
-------------------------------------------------- */

.banner-3 img{
	width: 1710px;
	height: auto;
}

.banner-4 img{
	position: absolute;
	width: 1200px;
	height: auto;
	right: 10px;
	top: 1520px;
}

.home img{
	position: absolute;
	width: 500px;
	height: auto;
	top: 1500px;
}

.carton-1 img{
	width: 500px;
	height: auto;
	position: absolute;
	top: 500px;
}

.butter{
	display:none;
}

.butter img{
	width: 330px;
	height: auto;
	position: absolute;
	top: 490px;
}

.carton-1:hover + .butter{
	display: block;
}


.carton-2 img{
	width: 500px;
	height: auto;
	position: absolute;
	top: 500px;
	left: 600px;
}

.cherry{
	display:none;
}

.cherry img{
	width: 300px;
	height: auto;
	position: absolute;
	top: 500px;
	left: 600px;
}

.carton-2:hover + .cherry{
	display: block;
	
}

.carton-3 img{
	width: 500px;
	height: auto;
	position: absolute;
	top: 500px;
	left: 1200px;
}

.choco{
	display:none;
}

.choco img{
	width: 300px;
	height: auto;
	position: absolute;
	top: 500px;
	left: 1200px;
}

.carton-3:hover + .choco{
	display: block;
}


.carton-4 img{
	width: 500px;
	height: auto;
	position: absolute;
	top: 1000px;
}

.rainbow{
	display:none;
}

.rainbow img{
	width: 350px;
	height: auto;
	position: absolute;
	top: 1000px;
}

.carton-4:hover + .rainbow{
	display: block;
}

.carton-5 img{
	width: 500px;
	height: auto;
	position: absolute;
	top: 1000px;
	left: 600px;
}

.peach{
	display:none;
}

.peach img{
	width: 300px;
	height: auto;
	position: absolute;
	top: 1000px;
	left: 600px;
}

.carton-5:hover + .peach{
	display: block;
}

.carton-6 img{
	width: 500px;
	height: auto;
	position: absolute;
	top: 1000px;
	left: 1200px;
}

.pineapple{
	display:none;
}

.pineapple img{
	width: 230px;
	height: auto;
	position: absolute;
	top: 960px;
	left: 1230px;
}

.carton-6:hover + .pineapple{
	display: block;
}

.carton-chara1 img{
	width: 220px;
	height: auto;
	position: absolute;
	top: 400px;
	left: 400px;
	animation: cac1 1.25s ease infinite forwards normal running;
}

@keyframes cac1{
	0%
	10% {transform: scale(1.1,.9) translateY(0px);}
	30% {transform: scale(.9,1.1) translateY(-100px);}
	50% {transform: scale(1.05,.95) translateY(0px);}
	57% {transform: translateY(-7px);}
	64% {transform: translateY(0px);}
	100% {transform: translateY(0px);}
}

.carton-chara2 img{
	width: 270px;
	height: auto;
	position: absolute;
	top: 900px;
	right: 480px;
	animation: cac2 1.35s ease infinite forwards normal running;
}

@keyframes cac2{
	0%
	15% {transform: translateY(-30px) rotate(6deg);}
	30% {transform: translateY(15px) rotate(-6deg);}
	45% {transform: translateY(-15px) rotate(3.6deg);}
	60% {transform: translateY(9px) rotate(-2.4deg);}
	75% {transform: translateY(-6px) rotate(1.2deg);}
	100% {transform: translateY(0px) rotate(0deg);}
 
}

/* popsicle
-------------------------------------------------- */
.box{
	width: 800px;
	height: 450px;
	position: absolute;
	top: 50px;
	left: 480px;
	outline: 8px ridge #b7caba;
}

.home-pop img{
	width: 300px;
	height: auto;
	position: absolute;
	top: 10px;
}

.instructions img{
	position: absolute;
	top: 190px;
	left: 500px;
	width: 750px;
	height: auto;

}

 #draggable-1{ 
 	width: 150px; 
 	height: auto;
 	display: inline-block;
 	top: 500px;
 	margin-right: 10px;
 }

  #draggable-2{ 
 	width: 150px; 
 	height: auto;
 	display: inline-block;
 	top: 500px;
 }

  #draggable-3{ 
 	width: 155px; 
 	height: auto;
 	display: inline-block;
 	top: 500px;
 }

   #draggable-4{ 
 	width: 210px; 
 	height: auto;
 	display: inline-block;
 	top: 500px;
 	left: -15px;
 }

   #draggable-5{ 
 	width: 240px; 
 	height: auto;
 	display: inline-block;
 	top: 500px;
 	transform: rotate(10deg);
 	left: -30px;
 }

   #draggable-6{ 
 	width: 255px; 
 	height: auto;
 	display: inline-block;
 	top: 500px;
 	left: 20px;
 	transform: rotate(-15deg);
 	left: -60px;
 }

    #draggable-7{ 
 	width: 270px; 
 	height: auto;
 	display: inline-block;
 	top: 450px;
 	transform: rotate(-20deg);
 	left: -100px;
 }

    #draggable-8{ 
 	width: 280px; 
 	height: auto;
 	display: inline-block;
 	top: 420px;
 	transform: rotate(-20deg);
 }

    #draggable-9{ 
 	width: 250px; 
 	height: auto;
 	display: inline-block;
 	top: 450px;
 	transform: rotate(-20deg);
 }

    #draggable-10{ 
 	width: 310px; 
 	height: auto;
 	display: inline-block;
 	top: 420px;
 	left: -30px;
 	transform: rotate(60deg);
 }

   #draggable-11{ 
 	width: 220px; 
 	height: auto;
 	display: inline-block;
 	top: 420px;
 	left: -30px;
 }

    #draggable-12{ 
 	width: 140px; 
 	height: auto;
 	display: inline-block;
 	top: 490px;
 	left: 30px;
 }

 .pop-chara1 img{
 	position: absolute;
 	width: 380px;
 	height: auto;
 	right: 10px;
 	top: 200px;
 	animation: pc1 1.25s ease infinite forwards normal running;
 }

@keyframes pc1{
	 0%
	 15% {transform: translateX(-30px) rotate(6deg);}
	 30% {transform: translateX(15px) rotate(-6deg);}
	 45% {transform: translateX(-15px) rotate(3.6deg);}
	 60% {transform: translateX(9px) rotate(-2.4deg);}
	 75% {transform: translateX(-6px) rotate(1.2deg);}
	 100% {transform: translateX(0px);}
}
