@import url();




@media only screen and (min-width: 200px){
  .banana{
    display: none;
  }


  .peeled img{
    width: 200px;
    height: auto;
    top: 50px;
  }

}

/* iPad 
-------------------------------------------------- */
@media only screen and (max-width: 401px)  {

  .banana img{
     width: 200px;
    height: auto;
    top: 50px;
  }

  .peeled img{
    display: none;
  

}

}



