body {
  font-family: DIN, sans-serif;
  height: 100vh;
  background-image: url("mag.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

p{
  text-align: center;
  font-size: 32px;
  margin-top: 120px;
  color: #000000;
  z-index: 100;
}


.intro {
  border: none;
    background-color: none;
    width: 1000px;
}

      .introtext2 {
      display: block;
      margin-top: 250px;
      width: 90vw;
    }
    .bananaman {
      display: block;
      float: left;
      margin-top: 400px;
      margin-left: 50px;
      width: 400px;
    }


.box {
  position: fixed;
  bottom: 20px; /* adjust this value to move the button up or down */
  left: 50%;
  transform: translateX(-50%);
}


.button {
  display: inline-block;
  padding: 20px;
  margin-left: 800px;
}

.button-image {
  display: inline-block;
  width: 1200px;
  height: 400px;
  background-image: url('glassbowl.png');
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: DIN, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

#popup1{
  width: 100%;
  height: 100px;
  border: 1px solid grey;
  animation: animate 0.25s infinite;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

@media screen and (min-width: 200px) and 
(orientation: landscape){

  body{
  background-color:lightskyblue;
}



@media screen and (min-width: 468px) and 
(orientation: landscape){

  body{
  background-color:hotpink;
}

.overlay {
background-color: lightsalmon;
}

.popup {
background-color: lightsalmon;
}

@media screen and (min-width: 700px) and 
(orientation: landscape){

  body{
  background-color:lightpink;
}

.popup {
background-color: lightsalmon;
}
}



