#playground {
  width: 100%;
  height: 100%;
  border: 30px lightpink;
  animation: animate 0.25s infinite;
  z-index: 100; /* bring the image in front of the #playground div */
}

body {
  background-color: palegreen;
  margin-top: 50px; /* create 50 pixels of space above the image */
}

img {
  display: block;
  width: 1000px;
  height: auto;
  margin: 0 auto; /* center the image horizontally */
  position: relative;
  z-index: 0; /* bring the image in front of the #playground div */
}

@keyframes animate {  
  100% { 
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='120' viewport='0 0 100 100' style='fill:black;font-size:60px;'><text y='50%'>🥄</text></svg>") 16 0, auto; /*!emojicursor.app*/
  }
}
