@import url();

body {
  background-image: url("greenbg.png");
}

.grass3 img{
  width: 500px;
  height: 500px;
}

.fire3 img{
  width: 800px;
  height: 470px;
  position: absolute;
  left: 450px;
  top: 200px;
}

.water3 img{
  width: 450px;
  height: 450px;
  position: absolute;
  right: 30px;
  top: 400px;
}

@media only screen and (min-width: 1024px) and (max-width: 1728px) and (min-height: 500px) {
  .grass1{
    display: none;
  }

  .fire1{
    display: none;
  }

  .water1{
    display: none;
  }

  .grass2{
    display: none;
  }

  .fire2{
    display: none;
  }

  .water2{
    display: none;
  }

  .ball1{
    display: none;
  }

  .ball2{
    display: none;
  }

  .ball3{
    display: none;
  }

  .ball4{
    display: none;
  }
}

/* iPad 
-------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (min-height: 500px) {
   body{
    background-image: url("yellowbg.png");
  }
  .grass1{
    display: none;
  }

  .fire1{
    display: none;
  }

  .water1{
    display: none;
  }

  .grass3{
    display: none;
  }

  .fire3{
    display: none;
  }

  .water3{
    display: none;
  }

  .ball1{
    display: none;
  }

  .ball2{
    display: none;
  }

  .ball3{
    display: none;
  }

  .ball4{
    display: none;
  }

  .grass2 img{
    width: 400px;
    height: auto;
    position: absolute;
    top: 300px;
  }

  .fire2 img{
    width: 300px;
    height: auto;
    position: absolute;
    left: 410px;
    top: 300px;
  }

  .water2 img{
    width: 250px;
    height: auto;
    position: absolute;
    right: 30px;
    top: 300px;
  }

}

/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 768px) and (min-height: 500px) {

  body{
    background-image: url("purplebg.png");
  }
  .ball1{
    display: none;
  }

  .ball2{
    display: none;
  }

  .ball3{
    display: none;
  }

  .ball4{
    display: none;
  }

  .grass2{
    display: none;
  }

  .fire2{
    display: none;
  }

  .water2{
    display: none;
  }

  .grass3{
    display: none;
  }

  .fire3{
    display: none;
  }

   .water3{
    display: none;
  }

  .grass1 img{
    width: 170px;
    height: auto;
    position: absolute;
    left: 170px;
  }

  .fire1 img{
    width: 250px;
    height: auto;
    position: absolute;
    left: 130px;
    top: 250px;
  }

  .water1 img{
    width: 160px;
    height: auto;
    position: absolute;
    left: 185px;
    top: 640px;
  }
}

@media screen and (max-width: 1728px) and (max-height: 500px) {

  body{
    background-image: url("orangebg.png");
  }

  .grass3{
    display: none;
  }

  .fire3{
    display: none;
  }

  .water3{
    display: none;
  }

  .grass2{
    display: none;
  }

  .fire2{
    display: none;
  }

  .water2{
    display: none;
  }

  .grass1{
    display: none;
  }

  .fire1{
    display: none;
  }

  .water1{
    display: none;
  }

  .ball1 img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 150px;
  }
  
  .ball2 img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 550px;

  }

   .ball3 img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 950px;
  }

  .ball4 img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 1350px;
  }
}
